<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}" >
    <link href="{{ url_for("static", filename="css/font-awesome-all.css") }}" rel="stylesheet" >
    <title>RPi Stream</title>
    {% block top %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">RPi Live Stream <i class="fa fa-stop-circle" style="color: red;"></i></a>
</nav>
<div class="mt-8" style="padding-top: 45px;padding-bottom: 80px;">
    {% block content %}{% endblock %}
</div>


<script src="{{ url_for("static", filename="js/jquery.min.js") }}" ></script>
<script src="{{ url_for("static", filename="js/popper.min.js") }}" ></script>
<script src="{{ url_for("static", filename="js/bootstrap.min.js") }}" ></script>
    {% block bottom %}{% endblock %}
</body>

</html>